.backgrounds {
    width: 100%;
    height: auto;
     position:static;
}

/*.backgrounds {
  width: auto;
  height: 100%;
   position:fixed;
}*/

.stage {
 position: relative;
user-select: none;
}

/*.figur {
  position:absolute;
  top: 22%;
  left: 15%;
  z-index: 2;
  width: 70%;
  height: auto;
}*/

.figur {
  position:fixed;
  top: 12%;
  right: 8%;
  z-index:2;
  width: auto;
  height: 80%;
}

p2 {
  position:absolute;
  top: 25px;
}

.textbox {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  z-index:3;
  position: sticky;
  bottom:1px;
  padding:20px;
  padding-top:50px;
  border-radius: 3px;
  background: rgb(184, 221, 175);
  border: 5px solid black;
}

.weiter {
 font-size: 20pt;
  margin: 4px 2pt;
  position:relative;
  top: -100px;
  left: -12px;
  background: white;
user-select: none;
}

.choice {
 /* display: none;*/
  font-family: 'Lato', sans-serif;
  font-size: 1em;
   margin: 4px 2pt;
   background: rgb(171, 211, 238);
 user-select: none;
 }

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
