/* @media screen and (orientation:portrait) {
.backgrounds {
    width: 100%;
    height: auto;
     position:static;
  }}
@media screen and (orientation:landscape) {
.backgrounds {
    height: 100%;
    width: auto;
    position: static;
    padding-left: 50px;
  }} */

.backgrounds {
    width: 100%;
    height: auto;
    position:fixed;
    top:0px;
    left:0px;
    z-index: -1;
}

.top {
  position:fixed;
  z-index:4;
  width: 100%;
  height: 31%;
  top:0px;
  left:0px;
  background: rgb(212, 255, 157);
  border-bottom:3pt solid black;
}

.figur {
  position:fixed;
  z-index: 4;
  height: 30%;
  top:3pt;
  border:3pt solid black;
}

.weiter {
  font-size: 134%;
   margin: 4px 2pt;
   position:absolute;
   background: white;
 user-select: none;
 }

 p2 {
  position:static;
  /*background-color:rgb(171, 211, 238);*/
}

.textbox {
  font-family: 'Lato', sans-serif;
  font-size: 120%;
  z-index:3;
  position: absolute;
  top: 33%;
  padding-left:20px;
  margin-right: 25%;
}

.choice {
 /* display: none;*/
  font-family: 'Lato', sans-serif;
  font-size: 100%;
   margin: 4px 2pt;
   background: rgb(171, 211, 238);
 user-select: none;
 }

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
