@media screen and (orientation:portrait) {
.backgrounds {
    width: 100%;
    height: auto;
    /* position: fixed;*/
  }}
@media screen and (orientation:landscape) {
.backgrounds {
    height: 100%;
    width: auto;
    position: fixed;
    padding-left: 50px;
    webkit-user-select: none;
    khtml-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    o-user-select: none;
    user-select: none;
  }}

.figur {
  position: absolute;
}

p {
    border: 3px solid rgb(170, 191, 202);
    margin: 20px;
}
